<%# app/views/research_groups/show.html.erb %>

<div class="container my-4">
  <div class="d-flex align-items-center mb-4">
    <div>
      <h1 class="mb-0 text-primary-dark"><%= @research_group.name %></h1>
      <span class="badge bg-info text-white"><%= @research_group.visibility.humanize %></span>
      <%= link_to "Excluir Grupo", research_group_path(@research_group), data: { turbo_method: :delete}, class: "btn btn-danger btn-sm ms-2" if @research_group.admin == current_user %>
    </div>
  </div>

  <p class="lead"><%= @research_group.description %></p>

  <%# Alerta para solicitações pendentes (apenas para admins/moderadores do grupo) %>
  <% if @research_group.memberships.pending.any?  %>
    <div class="alert alert-info d-flex align-items-center" role="alert">
      <i class="bi bi-bell-fill me-2"></i>
      <div>
        Há <%= pluralize(@research_group.memberships.pending.count, "solicitação") %> pendente para este grupo.
        <%= link_to "Gerenciar membros", research_group_memberships_path(@research_group), class: "alert-link" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
        <%= link_to "Gerenciar Membros", research_group_memberships_path(@research_group), class: "btn btn-outline-info w-100" %>
    </div>
    <div class="col-md-9">
      <h2 class="mb-3">Publicações do Grupo</h2>
      <%# Lista de Posts do Grupo %>
      <div id="group_posts_list">
        <% if @posts.empty? %>
          <p class="text-muted">Nenhuma publicação neste grupo ainda.</p>
        <% else %>
          <% @posts.each do |post| %>
            <%= render 'posts/post', locals: { post: @post }%> <%# Assumindo que você tem uma partial _post.html.erb %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>