<nav>
    <div class="search-and-logo nav-group">
        <div class="logo">AcadNet</div>
        <form action="#" method="get" class="d-flex">
            <input type="search" class="form-control" placeholder="Buscar...">
        </form>
    </div>
    
    <div class="nav-group">
        <%= link_to root_path, class: "nav-link" do %>
            <i class="bi bi-house-door-fill" style="font-size: 1.5rem; cursor: pointer;"></i>
        <% end %>

        <%= link_to research_groups_path, class: "nav-link" do %>
            <i class="bi bi-people-fill" style="font-size: 1.5rem; cursor: pointer;"></i>
        <% end %>
        
    </div>
    
    <div class="nav-group">
        <i class="bi bi-chat-left-fill" style="font-size: 1.5rem; cursor: pointer;"></i>
        <i class="bi bi-bell-fill" style="font-size: 1.5rem; cursor: pointer;"></i>
        <% if current_user %>
            <div class="dropdown profile-dropdown">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">    
                      <% if current_user.user_profile.avatar.attached? %>
                        <%= image_tag current_user.user_profile.avatar.variant(resize_to_limit: [30,30]), alt: 'Avatar', class: 'rounded-circle mb-3' %>
                    <% else %>
                        <img src="https://placehold.co/100x100" %>
                    <% end %>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="dropdownMenuButton">
                    <li><%= link_to "Meu Perfil", user_profile_path(current_user), class: "dropdown-item" %></li>
                    <li><a class="dropdown-item" href="#">Configurações</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to "Sair", destroy_user_session_path(current_user), class: "dropdown-item" ,data: { turbo_method: :delete } %></li>
                </ul>
            </div>
        <% else %>
            <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary me-2" %>
        <% end %>
    </div>
</nav>

