<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <% if current_user.user_profile.avatar.attached? %>
            <%= image_tag current_user.user_profile.avatar.variant(resize_to_limit: [100,100]), alt: 'Avatar', class: 'rounded-circle mb-3' %>
        <% else %>
            <img src="https://placehold.co/100x100" %>
        <% end %>

            <div>
                <h6 class="mb-0"><%= post.user.email %></h6>
                <small class="text-muted"><%= time_ago_in_words(post.updated_at) %></small>
            </div>
            <div class="ms-auto">
              <%= link_to 'Editar', edit_post_path(post), class: "btn btn-primary" if post.user == current_user %>
              <%= link_to 'Excluir', post, data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' }, class: "btn btn-danger ms-auto" if post.user == current_user %>
            </div>
        </div>
        <p class="card-text"><%= post.content %></p>
        <img src="https://via.placeholder.com/600x400" alt="Imagem do Post" class="img-fluid rounded mb-3 post-img">
        <div class="d-flex justify-content-around border-top pt-2">
            <button class="btn btn-light flex-grow-1 mx-1"><i class="bi bi-hand-thumbs-up"></i> Curtir</button>
            <button class="btn btn-light flex-grow-1 mx-1"><i class="bi bi-chat"></i> Comentar</button>
            <button class="btn btn-light flex-grow-1 mx-1"><i class="bi bi-share"></i> Compartilhar</button>
        </div>
    </div>
    <div class="card-footer bg-white">
        <div class="d-flex align-items-center mb-2">
            <img src="https://via.placeholder.com/30" alt="Avatar Comentário" class="profile-img me-2">
            <%= form_with(model: [ post, Comment.new ], local: true) do |form| %>
              <div class="field">
                <%= form.text_field :content, class: "form-control" %>
              </div>
              <div class="actions">
                <%= form.submit "Adicionar Comentário" %>
              </div>
            <% end %>
        </div>
        <small class="text-muted">Ver todos os 5 comentários</small>
        <% post.comments.each do |comment| %>
              <p><strong><%= comment.user.email %></strong>: <%= comment.content %></p>
              <% if comment.user == current_user %>
                <%= link_to 'Excluir', [comment.post, comment], data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' } %>
              <% end %>
        <% end %>
    </div>
</div>